
    <table cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <th class="hour-head" align="center">时</th>
                <th class="minute-head" align="center">分</th>
            </tr>
            <tr>
                <td class="hour-body" valign="top">
                    <div>
                    <a href="javascript:void(0);" class="hour" data-hour="00">00</a>
                    <a href="javascript:void(0);" class="hour" data-hour="01">01</a>
                    <a href="javascript:void(0);" class="hour" data-hour="02">02</a>
                    <a href="javascript:void(0);" class="hour" data-hour="03">03</a>
                    <a href="javascript:void(0);" class="hour" data-hour="04">04</a>
                    <a href="javascript:void(0);" class="hour" data-hour="05">05</a>
                    <a href="javascript:void(0);" class="hour" data-hour="06">06</a>
                    <a href="javascript:void(0);" class="hour" data-hour="07">07</a>
                    <a href="javascript:void(0);" class="hour" data-hour="08">08</a>
                    <a href="javascript:void(0);" class="hour" data-hour="09">09</a>
                    <a href="javascript:void(0);" class="hour" data-hour="10">10</a>
                    <a href="javascript:void(0);" class="hour" data-hour="11">11</a>
                    <a href="javascript:void(0);" class="hour" data-hour="12">12</a>
                    <a href="javascript:void(0);" class="hour" data-hour="13">13</a>
                    <a href="javascript:void(0);" class="hour" data-hour="14">14</a>
                    <a href="javascript:void(0);" class="hour" data-hour="15">15</a>
                    <a href="javascript:void(0);" class="hour" data-hour="16">16</a>
                    <a href="javascript:void(0);" class="hour" data-hour="17">17</a>
                    <a href="javascript:void(0);" class="hour" data-hour="18">18</a>
                    <a href="javascript:void(0);" class="hour" data-hour="19">19</a>
                    <a href="javascript:void(0);" class="hour" data-hour="20">20</a>
                    <a href="javascript:void(0);" class="hour" data-hour="21">21</a>
                    <a href="javascript:void(0);" class="hour selected" data-hour="22">22</a>
                    <a href="javascript:void(0);" class="hour" data-hour="23">23</a>
                    </div>
                </td>
                <td class="minute-body" valign="top">
                    <div>
                    <a href="javascript:void(0);" data-minute="00" class="minute">00</a>
                    <a href="javascript:void(0);" data-minute="10" class="minute">10</a>
                    <a href="javascript:void(0);" data-minute="20" class="minute">20</a>
                    <a href="javascript:void(0);" data-minute="30" class="minute selected">30</a>
                    <a href="javascript:void(0);" data-minute="40" class="minute">40</a>
                    <a href="javascript:void(0);" data-minute="50" class="minute">50</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center" class="tool-part">
                    <button data-tag="close" class="ui-button btn-rounded btn-primary btn-tiny">关闭</button>
                </td>
            </tr>
        </tbody>
    </table>
